<!-- <a class="link" href="#popup">Click me</a> -->

<div id="popup" style="text-align:center;">
  <a id="close" href="#">X</a>

  <h2>Custom  CSS Popup Box</h2>

Popup using the <span style="color:#DF7401;">:target</span> and transition with opacity.
  <br>
  <br>
</div>
