// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body {
  background-color:#EA9FA4;
}

.portfolio {
  background-color:#EA9FA4;
   width: 1000px;
  padding: 40px;
}

.image {
  border-radius:4px;
  margin-right: 20px;
}

.banner{
  background-color: rgb(175, 156, 211);
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}

.bio{
  width: 50px;
}

.projects {
  width: 105%;
  margin-top: 5px;
}

.cv {
  width: 95%;
  margin-top: 20px;
}
